<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

</style>
</head>
<body id="bodyid"> 
    Hello
    <button onclick="button()"id="but1">
        <img src="https://i.ytimg.com/vi/W02gqzO5OCY/maxresdefault.jpg" alt="Space">
    </button>
</body>
<script>
    (document).ready(function(){
   ('#but1').css('background-image', 'spacebackground.jpg');
});
</script>
</html>
