<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
    font-family: "Lato", sans-serif;
    color:white;
    background-image: url("http://getwallpapers.com/wallpaper/full/b/9/b/279857.jpg");
  }
  h2 {
    font-size: 40px;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
</style>
</head>
<body>

    <div class="jumbotron" style="background:#111 !important" id="jumbotron">
      <div class="row">
        <div class="col-lg-4">
          <button id="menuBut" class="openbtn" onclick="openOrClose()">☰ Menu</button>
        </div>
        <div class="col-lg-8">
          <h1>Space Tours</h1>
        </div>
      </div>
    </div>
<div class="container-fluid">
<input id=myHiddenField type="hidden" name="myHiddenField" value=0 />
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="/home">Home</a>
  <a href="/tours">Tours</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <a href="/logout">Logout</a>
</div>


<div id="main">
<!--
  <div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
-->
  <h2>Register</h2> <br>
  <p>
        <form  method='post' action='/people'>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="username">Username:</label>
                <div class="col-sm-4">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" id="username">
            </div>
                </div>
                <div class="row col-sm-offset-2 col-sm-10"><%= userMsg %></div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="fname">First name:</label>
                <div class="col-sm-4"> 
                <input type="text" class="form-control" name="fname" placeholder="Enter first name" >
            </div>
          </div>
            <div class="row col-sm-offset-2 col-sm-10"><%= fNameMsg %></div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="lname">Last name:</label>
                <div class="col-sm-4"> 
                <input type="text" class="form-control" name="lname" placeholder="Enter last name" >
            </div>
          </div>
            <div class="row col-sm-offset-2 col-sm-10"><%= sNameMsg %></div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-4"> 
                <input type="password" class="form-control" name="password" placeholder="Enter password" >
            </div>
          </div>
            <div class="row col-sm-offset-2 col-sm-10"><%= pswdMsg %></div>
            <div class="form-group row">
                <div class="col-sm-10"> 
                <input type="hidden" class="form-control" name="access_token" value="concertina" >
            </div>
            <div class="form-group row"> 
                <div class="col-sm-offset-2 col-sm-2">
                <button id="submitter" class="btn btn-primary" type="submit">Register</button>
                </div>
                <div class="col-sm-3">
                    <a style="color:white" href="/login">Already registered?</a>
                  </div>              
            </div>
        </form>
    <script>

      </script>
    
  </div>
</div>

<script>
function openNav() {
  document.getElementById("menuBut").style.display = "none";
  document.getElementById("myHiddenField").value = 1;
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("jumbotron").style.marginLeft = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function openOrClose() {
  if (document.getElementById("myHiddenField").value == 0){
    openNav();
  }
  else{
    closeNav();
  }
}

function closeNav() {
  document.getElementById("myHiddenField").value = 0;
  document.getElementById("jumbotron").style.marginLeft = "0";
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.getElementById("menuBut").style.display = "block";
}
</script>

</body>
</div>
</html>
